div.restaurant-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    margin: 30px;
    cursor: pointer;
}

div.restaurant-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.restaurant-card div.restaurant-image img {
    width: 100%;
}

div.restaurant-card div.restaurant-content {
    padding: 10px 16px;
}

div.restaurant-card div.restaurant-content div.restaurant-heading span.restaurant-title{
    display: block;
    font-weight: 900;
}

div.restaurant-card div.restaurant-content div.restaurant-heading span.restaurant-cuisines{
    display: block;
    margin-top: 8px;
    font-size: 14px;
}

div.restaurant-card div.restaurant-content div.restaurant-sub-content{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

div.restaurant-card div.restaurant-content div.restaurant-offer{
    margin-top: 8px;
    font-size: 14px;
}
